/* Login.css */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #4a90e2, rgb(0,82,156));
}

.login-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login-logo{
    min-width: 25px;
    max-width: 75px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.login-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.login-input:focus {
    border-color: #4a90e2;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #357ABD;
}

.login-footer {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.login-signup-button {
    background: none;
    border: none;
    color: #4a90e2;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    transition: color 0.3s ease;
}

.login-signup-button:hover {
    color: #357ABD;
    text-decoration: underline;
}

/* Admin Checkbox Styling */
.admin-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.admin-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;
}

.admin-checkbox label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}


